
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(63,0,81);
}

#map{
    height: 10000px;
}

.top-bar{
    display: block;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 7px 15px;
}

.circle-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 7%;
    left: 3%;
    border-radius: 100%;
    color: white;
}