.systemPreview {
  width: 200px;
  height: 200px;
  background-color: #0000FF;
}

.ressourcesDashboard {
  width: 400px;
  height: 200px;
  background-color: #FF00FF;
}

.slots {
  display: block;
  height: 200px;
  width: 600px;
  background-color: #00FF00;
}

.systemPreview, .ressourcesDashboard {
  display: inline-block;
  /*text-align: center;*/
}
