.b_1{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: aliceblue;
}

.b_2{
    position:absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: grey;
}

.b_11{
    position:absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: red;
}

.b_12{
    position:absolute;
    top: 0;
    left: 30%;
    width: 70%;
    height: 100%;
    background-color: green;
}

.b_21{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: blue;
}

.b_22{
    position:absolute;
    top: 33%;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: blueviolet;
}

.b_23{
    position:absolute;
    top: 66%;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: orange;
}

.b_button{

    background-color: transparent;
    height: 100%;
    width: 19%;

}

.b_11 > img{
    width: 100%;
    height: 100%;
}

.b_sysname{
    font-size: 30px;
    text-align: center;
}

.b_ressource{
    font-size: 12px;
    text-align: center;
}