.b_1{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: aliceblue;
}

.b_2{
    position:absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: grey;
}

.systemPreview {
  z-index: 12;
}

.b_11{
    position:absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: linear-gradient(to bottom, #051937, #001b4b, #001b5e, #001870, #101080);
}

.b_12{
    position:absolute;
    top: 0;
    left: 30%;
    width: 70%;
    height: 100%;
    background-image: linear-gradient(to bottom, #051937, #001b4b, #001b5e, #001870, #101080);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;
}

.b_21{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #051937, #001b4b, #001b5e, #001870, #101080);

}

.b_button{

    background-color: transparent;
    height: 100%;
    width: 16%;

}

.b_select{
    background-color: transparent;
    height: 100%;
    width: 16%;
}

.b_sysname{
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
    line-height: 30px;
    font-size: 50px;
}

.b_ressource{
    font-size: 12px;
    text-align: center;
    line-height: 35px;
    font-size: 23px;
}

.b_image{
    background-color: transparent;
    height: auto;
    width: 16%;
}
