.u_div1{
    display: inline-block;
}

.u_divg{
    width: 61%;
    height: 100%;
    background-color: aqua;
}

.u_divp{
    top: 0px;
    width: 19%;
    height: 100%;
    background-color: red;
    
}

u_button_1{
    top: 10;
}

u_button_2{
    top: 50;
}