.u_div1{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    border-width: 2px;
    border-color: aliceblue;
    background-image: linear-gradient(to bottom, #051937, #001b4b, #001b5e, #001870, #101080);
}

.u_div2{
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100%;
    border-width: 2px;
    border-color: aliceblue;
    background-image: linear-gradient(to bottom, #051937, #001b4b, #001b5e, #001870, #101080);
}

.u_div3{
    position: absolute;
    top: 0;
    left: 80%;
    width: 20%;
    height: 100%;
    border-width: 2px;
    border-color: aliceblue;
    background-image: linear-gradient(to bottom, #051937, #001b4b, #001b5e, #001870, #101080);
}

.u_div11{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: transparent;
}

.u_div12{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: transparent;
}

.u_div21{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: transparent;
}

.u_div22{
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: transparent;
}

.u_div23{
    position: absolute;
    top: 66%;
    left: 0;
    width: 100%;
    height: 34%;
    background-color: transparent;
}

.u_button{
    position: absolute;
    background-color: transparent;
}

.u_but211{
    top: 25%;
    left:5%;
    height: 70%;
    width: 30%;
    background: url("../../images/vaisseaux/Destroyer.png");
}

.u_but212{
    top: 25%;
    left:35%;
    height: 70%;
    width: 30%;
    background: url("../../images/vaisseaux/Destroyer.png");
}

.u_but213{
    top: 25%;
    left:65%;
    height: 70%;
    width: 30%;
    background: url("../../images/vaisseaux/Destroyer.png");
}

.u_but221{
    top: 25%;
    left:5%;
    height: 70%;
    width: 30%;
    background: url("../../images/vaisseaux/Battleship.png");
}

.u_but222{
    top: 25%;
    left:35%;
    height: 70%;
    width: 30%;
    background: url("../../images/vaisseaux/Battleship.png");
}

.u_but223{
    top: 25%;
    left:65%;
    height: 70%;
    width: 30%;
    background: url("../../images/vaisseaux/Battleship.png");
}

.u_but231{
    top: 25%;
    left:5%;
    height: 70%;
    width: 30%;
    background: url("../../images/vaisseaux/Tardigrade.png");
}

.u_but232{
    top: 25%;
    left:35%;
    height: 70%;
    width: 30%;
    background: url("../../images/vaisseaux/Tardigrade.png");
}

.u_but233{
    top: 25%;
    left:65%;
    height: 70%;
    width: 30%;
    background: url("../../images/vaisseaux/Tardigrade.png");
}

.u_but11{
    top: 20%;
    left:5%;
    height: 130px;
    width: 200px;
    background: url("../../images/vaisseaux/éclaireur.png");
}

.u_but12{
    top: 20%;
    left:5%;
    height: 130px;
    width: 200px;
    background: url("../../images/vaisseaux/Colonisateur.png");
}

.u_but31{
    top: 20%;
    left:10%;
    height: 10%;
    width: 80%;
}

.u_but32{
    top: 30%;
    left:10%;
    height: 10%;
    width: 80%;
}

.u_but33{
    top: 40%;
    left:10%;
    height: 10%;
    width: 80%;
}

.u_but34{
    top: 50%;
    left:10%;
    height: 10%;
    width: 80%;
}

.u_but35{
    top: 60%;
    left:10%;
    height: 10%;
    width: 80%;
}

.u_but36{
    top: 70%;
    left:10%;
    height: 10%;
    width: 80%;
}
