
.left-pannel-color{
    background-image: linear-gradient( 111.1deg,  rgba(0,40,70,1) -4.8%, rgba(255,115,115,1) 82.7%, rgba(255,175,123,1) 97.2% );
}

.right-pannel-color{
    background: #23074d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blue-gradient{
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.moonlight-gradient{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.golden-gradient{
    background: #CAC531;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3F9A7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-gradient{
    background: radial-gradient(rgba(255,235,59, 0.5), rgba(240, 210, 30, 0.55),rgba(241,196,15,0.6),rgba(212,172,13, 0.7));
}

.button-menu-color {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
}

.button-menu-color:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.name-menu-item-color{
    background: #A7CFDF;
    background: -webkit-repeating-linear-gradient(to bottom right, #A7CFDF 20%, #3B90FF 20%, #23538A 79%);
    background: -moz-repeating-linear-gradient(to bottom right, #A7CFDF 20%, #3B90FF 20%, #23538A 79%);
    background: repeating-linear-gradient(to bottom right, #A7CFDF 20%, #3B90FF 20%, #23538A 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}