.panel {
  position: absolute;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  background-image: linear-gradient(to bottom, #051937, #001b4b, #001b5e, #001870, #101080);
  width: 20%;
  height: 80%;
  z-index: 8;

  /* prevent text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel:target {
    pointer-events: none;
}

.panel[side="right"] {
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
}

.panel[side="left"] {
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
}

.panelHeader {
  padding: 10px;
  color: #fff;
  z-index: inherit;
  background-color: #2196F3;
}

.panelBody {
  padding: 10px;
  z-index: inherit;
}

.panel button {
  width: 80%;
  margin: 10px;
  height: 10%;
}

.unselectedShip{
    color: white;
}

.selectedShip{
    color: red;
}

#nav{
height:200px;

}

#nav ul{
overflow:hidden;
overflow-y:scroll;
}