@font-face{
    font-family: "ouverture";
    src: url("addiction/Addiction.ttf");
}

@font-face{
    font-family: "titre";
    src: url("blade-singer/bladesinger.ttf");
}

@font-face{
    font-family: "paragraphe";
    src: url("laser/laser.ttf");
}



.font-ouverture{
    font-family: "ouverture","Arial";
}

.font-titre{
    font-family: "titre","Arial";
}

.font-paragraphe{
    font-family: "paragraphe","Arial";
}